<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    </head>

    <body>
        <section layout:fragment="content">


            <div class="container">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 th:text="${'Lista de Pedido(s) da Unidade '+user.unidade.nome}"></h4>
                    </a>
                </div>
            </div>



            <!--<div class="container">-->
            <form class="form-horizontal">
                <div class="campobusca">
                    <div class="col-sm-3">
                        <input type="text" class="form-control filtro-input" id="busca" ng-model="busca" placeholder="Consulta Registro"/>
                    </div>
                </div>
                </br>
            </form>

            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Número Pedido</th>
                        <th>Usuario</th>
                        <th>Data Pedido</th>
                        <th>Situacao</th>
                        <th>Forma Entrega</th>
                        <th>Rastreamento</th>
                        <th>Valor Total</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="filtro-campo" th:each="pd : ${pedidos.content}">
                        <td th:text="${pd.id}"></td>
                        <td th:text="${pd.usuario.nome}"></td>
                        <td th:text="${#dates.format(pd.dataPedido, 'dd-MM-yyyy')}" ></td>
                        <td th:text="${pd.status}"></td>
                        <td th:text="${pd.formaEntrega != null ? pd.formaEntrega.nome : ''}"></td>
                        <td th:text="${pd.codigoRastreio}"></td>
                        <td th:text="${#numbers.formatDecimal(pd.valorTotal, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                        <td>
                        	<form th:id="'formExcluir'+${pd.id}" method="post" th:action="@{/pedidosunidade/excluir/{id}(id=${pd.id})}">
	                            <a th:if="${pd.status == 'ABERTO'}" th:href="@{/pedidosunidade/editar/{id}(id = ${pd.id})}"  class="btn btn-primary">EDITAR</a> 
	                            <a th:href="@{/pedidosunidade/{id}(id = ${pd.id})}"  class="btn btn-warning">VISUALIZAR</a>
	                            <button th:if="${pd.status == 'ABERTO'}" type="submit" class="btn btn-danger"
	                                        th:onclick="'confirmarExclusao(event, '+${pd.id}+', \'\')'">EXCLUIR</button>     
	                        </form>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <br />
            <div class="table-pagination">
                <ul class="pagination">
                    <li th:class="${pedidos.number eq 0} ? 'disabled' : ''">
                        <a th:if="${not pedidos.isFirst()}" th:href="@{${'/pedidosunidade'}(page=${pedidos.number-1},size=${pedidos.size})}">Previous</a>
                        <a th:if="${pedidos.isFirst()}" href="javascript:void(0);">Previous</a>
                    </li>

                    <li th:each="pageNo : ${#numbers.sequence(0, pedidos.totalPages - 1)}" th:class="${pedidos.number eq pageNo}? 'active' : ''">
                        <a th:if="${pedidos.number  eq pageNo}" href="javascript:void(0);">
                            <span th:text="${pageNo + 1}"></span>
                        </a>
                        <a th:if="${not (pedidos.number  eq pageNo)}" th:href="@{${'/pedidosunidade'}(page=${pageNo},size=${pedidos.size})}">
                            <span th:text="${pageNo + 1}"></span>
                        </a>

                    </li>
                    <li th:class="${pedidos.number + 1 ge pedidos.totalPages} ? 'disabled' : ''">
                        <a th:if="${not pedidos.isLast()}" th:href="@{${'/pedidosunidade'}(page=${pedidos.number+1},size=${pedidos.size})}">Next</a>
                        <a th:if="${pedidos.isLast()}" href="javascript:void(0);">Next</a>
                    </li>
                </ul>
            </div>

        </section>
        <section layout:fragment="js-extra">
            <link rel="stylesheet" type="text/css" th:href="@{css/sweetalert/sweetalert.css}" media="screen,projection" />
            <script th:src="@{js/sweetalert/sweetalert.min.js}"></script>
            <script th:src="@{js/sweetalert/confirmacaoExclusao.js}"></script>
        </section>
    </body>
</html>
