<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    </head>

    <body>
        <section layout:fragment="content">

            <div id="print" th:if="${pedido != null}" >
                <div class="panel panel-default">
                    <div class="panel-heading"><small th:text="${' Pedido N: '+pedido.id}"> Pedido N: 4524</small></div>
                    <div class="panel-heading"><small th:text="${' Nome do Usuario : '+ pedido.usuario.nome}"> Nome do Cliente : Maria jose da Silva </small></div>
                    <div class="panel-heading"><small th:text="${' Unidade : ' + pedido.unidade.nome}"> Endereço : Rua Mario de Souza 45 </small></div>
                    <div class="panel-heading"><small th:text="${' Data Pedido : '+#dates.format(pedido.dataPedido, 'dd-MM-yyyy')}"> Estado : São Paulo </small></div>
                    <div class="panel-heading"><small th:text="${' Data Baixa : '+ (pedido.dataBaixa != null ? #dates.format(pedido.dataBaixa, 'dd-MM-yyyy') : 'sem registro')}"> Estado : São Paulo </small></div>


                    <div class="panel-heading"><small th:text="${' Status : '+pedido.status}"> Cidade : Osasco </small></div>
                    <div class="panel-heading"><small th:text="${' Valor : '+pedido.valorTotal}"> Bairro : Centro </small></div>	
                </div>

                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Código Produto</th>
                            <th>Nome do Produto</th>
                            <th>Qtd.caixa</th>
                            <th>Qtd por caixa</th>
                            <th>Preço total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${pedido.produtos}">
                            <td th:text="${p.produto.codigo}"></td>
                            <td th:text="${p.produto.nome}"></td>
                            <td th:text="${#numbers.formatInteger(p.quantidade,1,'POINT')}" ></td>
                            <td th:text="${p.produto.qtdcaixa}" ></td>
                            <td th:text="${#numbers.formatDecimal(p.precoTotal, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                </div>

                <div class="panel-body">
                    <form method="post" th:action="@{/pedidosunidade/finalizar/{id}(id=${pedido.id})}" id="formPedido">
                        <input type="hidden" th:field="${pedido.id}"/>
                        <div class="span6">
                            <button onClick="printDiv()" class="btn btn-success glyphicon glyphicon-print" type="button">  Impressão</button>
                            <a th:href="@{/pedidosunidade}" class="btn btn-warning">
                                Retornar
                            </a>
                            <a th:if="${(user.unidade.pedidoEspecial && pedido.status == 'ABERTO') || pedido.status == null }" href="#"  class="btn btn-danger" data-toggle="modal" data-target="#myModal">Enviar Pedido?</a>


                            <button th:if="${(!user.unidade.pedidoEspecial && pedido.status == 'ENVIADO') || pedido.status == null }"  class="btn btn-danger" type="submit"
                                    th:onclick="'confirmarRecebimento(event, '+${pedido.id}+', \'pedido\',\'formPedido\')'">
                                Pedido Recebido?
                            </button>



                        </div>

                        <div class="container">
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Informações da Entrega</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <label for="formaEntrega" class="col-sm-3 control-label">Forma Entrega</label>
                                                    <div class="col-sm-3">
                                                        <select th:field="${pedido.formaEntrega}" class="form-control" id="formaEntrega" name="formaEntrega" onchange="selecionaEntrega();" onload="selecionaEntrega();">
                                                            <option th:each="item : ${formasEntrega}" th:value="${item.id}" th:text="${item.nome}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row" id="divRastreio">
                                                    <label for="codigoRastreio" class="col-sm-3 control-label">Serviço Entrega(Código de Rastreio)</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" th:field="${pedido.codigoRastreio}" class="form-control" id="codigoRastreio" name="codigoRastreio"/>
                                                    </div>
                                                </div>
                                                <div class="row" id="divTransportadora">
                                                    <label for="transportadora" class="col-sm-3 control-label">Transportadora</label>
                                                    <div class="col-sm-3">
                                                        <select th:field="${pedido.transportadora}" class="form-control" name="transportadora">
                                                            <option th:each="item : ${transportadoras}" th:value="${item.id}" th:text="${item.nome}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row" id="divNome">
                                                    <label for="nomeEntrega" class="col-sm-3 control-label">Pessoa Entrega</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" th:field="${pedido.nomeEntrega}" class="form-control" id="nomeEntrega" name="nomeEntrega"/>
                                                    </div>
                                                </div>
                                                <div class="row" id="divRG">
                                                    <label for="rgEntrega" class="col-sm-3 control-label">RG Entrega</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" th:field="${pedido.rgEntrega}" class="form-control" id="rgEntrega" name="rgEntrega"/>
                                                    </div>
                                                </div>
                                                <div class="row" id="divOrdemColeta">
                                                    <label for="ordemColetaEntrega" class="col-sm-3 control-label">Ordem de Coleta</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" th:field="${pedido.ordemColetaEntrega}" class="form-control" id="ordemColetaEntrega" name="ordemColetaEntrega"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                            <button class="btn btn-primary" type="submit" name="opcao" value="">Gravar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>


            <small th:if="${pedido==null}">Nenhum pedido localizado</small>
            <section layout:fragment="js-extra">
                <script th:src="@{/js/print.js}"></script>   
                <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert/sweetalert.css}" media="screen,projection" />
                <script th:src="@{/js/sweetalert/sweetalert.min.js}"></script> 
                <script th:src="@{/js/sweetalert/confirmacaoRecebimento.js}"></script>   
            </section>

            <script>
                $("#divRastreio").show();
                $("#divTransportadora").hide();
                $("#divNome").hide();
                $("#divRG").hide();
                $("#divOrdemColeta").hide();
                function selecionaEntrega() {
                    var formaEntrega = $("#formaEntrega").val();
                    if (formaEntrega == "1") {
                        $("#divRastreio").show();
                        $("#divTransportadora").hide();
                        $("#divNome").hide();
                        $("#divRG").hide();
                        $("#divOrdemColeta").hide();
                    } else if(formaEntrega == "2"){
                        $("#divRastreio").hide();
                        $("#divTransportadora").show();
                        $("#divNome").show();
                        $("#divRG").show();
                        $("#divOrdemColeta").show();
                    } else if(formaEntrega == "3"){
                        $("#divRastreio").hide();
                        $("#divTransportadora").hide();
                        $("#divNome").show();
                        $("#divRG").show();
                        $("#divOrdemColeta").hide();
                    }
                }
            </script>
    </body>
</html>
